.Pms {
  background-color: var(--surface-a);
  color: var(--text-color);
}

.chat-header,
.chat-footer {
  background-color: var(--primary-color);
  color: var(--primary-color-text);
}

@media only screen and (max-width: 600px) {
  .star-button,
  .plus-button {
    display: none !important;
  }
}
