body {
  background-color: var(--surface-d);
  color: var(--text-color);
  min-width: 380px;
}

.content {
  background-color: var(--surface-a);
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
}
